.loginWrapper{
    background-color: var(--bg-primary);
    background-image: var(--bg-gradient-primary);
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    background-color: var(--white);
    width: 100%;
    margin: var(--spacing-small);
    padding: var(--spacing-medium);
    border-radius: var(--radius-xs);
}