.button{
    font-size: 16px;
    color: var(--white);
    background-color: var(--primary);
    cursor: pointer;
    line-height: 21px;
    border-radius: var(--radius-large);
    padding: var(--spacing-x-small);
    width: 100%;
    border: none;
}
.button:hover{
    background-color: var(--primary-dark);
}